.body {
    background-color: #0f0;
    color: #ff00ff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.header {
    background-color: #ff00ff;
    color: #000;
    text-align: center;
    font-size: 32px;
    padding: 10px;
}

.button {
    background-color: #000;
    color: #0f0;
    border: 2px dashed #ff00ff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff00ff;
    color: #000;
}

.footer {
    background-color: #000;
    color: #0f0;
    text-align: center;
    padding: 10px;
}